@import 'config';
@import 'menu';


* {
    box-sizing: border-box; //makes the box element, if you add padding it wont affect height or width
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color); // set text color
    //height: 100%;
    min-height: calc(100vh - 60px);
    margin: 0;
    font-family: 'Seoge UI, Tahoma, Geneva, Verdana, sans-serif';
    line-height: 1.5;
}

//headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading { // we want this to be jus the h1 class, not a class within each heading
        font-size: 5rem; // 1rem is (16pixels(defualt html font)
    }

    &.sm-heading {
        margin-bottom: 2rem; //pushes icons down
        padding: 0.2rem 1rem;
        font-size: 1rem; 
        background: lighten($primary-color, 2);
    }
}

a {
    color: #fff; //text color white
    text-decoration: none;
}

header {
    position: fixed; //this will keep it(hamburger symbol) at the top always
    z-index: 2;
    width: 100%;

}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem; // add 4rem padding around everything in main
    height: 100%;

    .icon { // nest this because we only want to affect the icon class thats in the main tag
        margin-top: 1rem;// pushes it down

        a { // another nest
            padding: 0.4rem; //spaces around ig, github buttons
            
            &:hover {
                color: $secondary-color; //adds hover affect to the a links with a color
                @include easeOut(); // this calls the mixin function
            
            }
        }

    }

    &.home { // main with id home
        overflow: hidden; // shows no scrollbars on page
        
        h1 {
            margin-top: 20vh; // viewport height, think of the viewport as 100 slices (l to r) 20 vh is taking 20 slices off
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px; //adds space between grids
    grid-template-areas:  // makes page look excatly how this is written
    'bioimage bio bio' //make sure you define these
    'job1 job2 job3';

    grid-template-columns: repeat(3, 1fr);
}

    .bio-image {
        grid-area: bioimage;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    .job-3 {
        grid-area: job3;
    }

    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
        }

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}


@import 'mobile';

